@using WebApplication.Models
@Model IEnumerable<Product>

<h1>Product List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Description</th>
        <th>Brand</th>
        <th>Category</th>
        <th>Thumbnail</th>
    </tr>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Price</td>
            <td>@product.Stock</td>
            <td>@product.Description</td>
            <td>@product.Brand</td>
            <td>@product.Category</td>
            <td>@product.Thumbnail</td>
            <td><a href="@Url.Action("Detail", "Product", new { id = product.Id })">Details</a></td>
        </tr>
    }
</table>

